services:
  drizzle-gateway:
    image: ghcr.io/drizzle-team/gateway:latest
    restart: unless-stopped
    ports:
      - 4983:4983
    environment:
      PORT: "4983"
      STORE_PATH: "/app"
      MASTERPASS: password
    volumes:
      - drizzle-gateway:/app

  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    network_mode: bridge
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      retries: 5
      timeout: 5s

volumes:
  postgres_data:
  redis_data:
  drizzle-gateway:
